.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.hr-lines{
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 100px;
  background: rgba(255, 255, 255, 0.87);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 100px;
  background: rgba(255, 255, 255, 0.87);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
