<p-accordion (onOpen)="loadMemo()" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
  <p-accordionTab header="Memo" [selected]="false">
    <p-table [value]="notes" styleClass="p-datatable-sm" responsiveLayout="scroll" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="note">Note <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="updatedAt">Updated At <p-sortIcon field="code"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.note}}</td>
          <td>{{data.updatedAt | datetimeFormat}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
